[net]
# Testing
# batch=1
# subdivisions=1
# Training
batch=64
subdivisions=4
width=896
height=896
channels=3
momentum=0.9
decay=0.0005
# angle=0
# saturation = 1.5
# exposure = 1.5
# hue=.1
flip=0

learning_rate=0.001
burn_in=1000
# max(6000, max(2000*classes, number_of_images))
max_batches=38000
policy=steps
# 0.8, 0.9 of max_batches
steps=30400,34200
scales=.1,.1

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=1

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

###########

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=16  # filters = (classes + 5) * < number of masks in mask= >
activation=linear



[yolo]
mask = 7,8  # anchors larger than 60x60
anchors = 88,17, 74,31, 100,25, 147,18, 139,24, 116,33, 164,31, 97,60, 156,44
classes=3
num=9
jitter=0
ignore_thresh = .7
truth_thresh = 1
random=0

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 8

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=16  # filters = (classes + 5) * < number of masks in mask= >
activation=linear

[yolo]
mask = 5,6  # anchors larger than 30x30
anchors = 88,17, 74,31, 100,25, 147,18, 139,24, 116,33, 164,31, 97,60, 156,44
classes=3
num=9
jitter=0
ignore_thresh = .7
truth_thresh = 1
random=0



[route]
layers = -3

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 6

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=40  # filters = (classes + 5) * < number of masks in mask= >
activation=linear

[yolo]
mask = 0,1,2,3,4  # remaining anchors
anchors = 88,17, 74,31, 100,25, 147,18, 139,24, 116,33, 164,31, 97,60, 156,44
classes=3
num=9
jitter=0
ignore_thresh = .7
truth_thresh = 1
random=0
