// Untitled Palette
$color-1: #003280;
$color-2: #0100ff;
$color-3: #5700ff;
$color-4: #bd00ff;
$color-5: #ff00af;
$color-6: #ff001d;
$color-7: #ff2f00;
$color-8: #ff6b00;
$color-9: #ffa200;
$color-10: #ffcc00;
$color-11: #fff700;
$color-12: #81da00;
$color-13: #17ff00;
$color-14: #00da5e;
$color-15: #007c80;
